<section class="bg-[#1abc9c]">
    <div class="max-w-screen-xl mx-auto pt-24 sm:max-md:pt-60 min-h-screen flex justify-center ">
        <div class="container mx-auto flex justify-center items-center">
            <div class="">
                <img src="./assets/img/avataaars.svg" class="w-64 mb-10 block mx-auto cursor-pointer" alt="">
                <h2 class="text-nowrap text-4xl text-white font-bold uppercase ">start Framework</h2>
                <div class="flex items-center justify-center my-7">
                    <div class="w-20 h-1 bg-white  "></div>
                    <div class="mx-4">
                        <i class="fa-solid fa-star fa-xl text-white"></i>
                    </div>
                    <div class="w-20 h-1 bg-white"></div>
                  </div>
               
                <p class="text-white text-lg">Graphic Artist - Web Designer - Illustrator</p>
              
                
            </div>
            
        </div>
    </div>
</section>


