<footer class="bg-slate-700 p-20">
    <div class="max-w-screen-xl mx-auto pt-10">
        <div class="container mx-auto grid grid-cols-1 lg:grid-cols-3 gap-4 ">
            <div class="mx-auto" >
                <h2 class="text-3xl font-semibold text-white ">LOCATION</h2>
                <p class="my-3 text-white -ml-3">2215 John Daniel Drive</p>
                <p class="text-white">Clark, MO 65243</p>
            </div>

            <div class=" mx-auto sm:py-10 lg:py-0 ">
                <h2 class="text-3xl font-semibold text-white ">AROUND THE WEB</h2>
                <div class="flex  justify-center gap-2 mt-5 ">
                    <a href="" class="border-2 border-white rounded-full py-1 px-2">
                        <i class="fa-brands fa-facebook text-white"></i>
                    </a>
                    <a href="" class="border-2 border-white rounded-full py-1 px-2">
                        <i class="fa-brands fa-twitter text-white"></i>
                    </a>
                    <a href="" class="border-2 border-white rounded-full py-1 px-2">
                        <i class="fa-brands fa-linkedin-in text-white"></i>
                    </a>
                    <a href="" class="border-2 border-white rounded-full py-1 px-2">
                        <i class="fa-solid fa-globe text-white"></i>
                    </a>
                </div>
            </div>

            <div class="">
                <h2 class="text-3xl font-semibold text-white text-center">ABOUT FREELANCER</h2>
                <p class="text-white mt-3 text-center text-sm">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>

        </div>
    </div>
</footer>

<footer class="bg-slate-900">
    <div class="max-w-screen-xl mx-auto ">
        <div class="container mx-auto ">
            <p class="text-white text-center p-5">Copyright © Your Website 2021</p>
        </div>
    </div>
</footer>